ion-header,
ion-toolbar,
ion-content {
  background: var(--ion-content-bg-color);
  --background: var(--ion-content-bg-color);
}

ion-list {
  border: 1px solid var(--ion-list-border-color) !important;
  border-radius: 9px !important;
}

ion-item {
  --background: var(--ion-item-bg-color);
}
