<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal(true)">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      @if (isEdit) {
        {{ 'Edit Business' | translate }}
      } @else {
        {{ 'New Business' | translate }}
      }
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="submit()"> {{ 'Save' | translate }} </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        @if (isEdit) {
          {{ 'Edit Business' | translate }}
        } @else {
          {{ 'New Business' | translate }}
        }
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="form">
    <ion-grid class="ion-padding-horizontal">
      <ion-row>
        <ion-col size="12">
          <app-icon-picker
            [control]="form.controls['icon']"
            [color]="form.controls['color'].value"></app-icon-picker>
        </ion-col>
        <ion-col size="12">
          <app-input
            label="{{ 'NAME' | translate }}"
            placeholder="Business Name"
            [control]="form.controls['name']"></app-input>
        </ion-col>
        <ion-col size="12">
          <app-currency-picker
            label=""
            [control]="form.controls['currency']"></app-currency-picker>
        </ion-col>
        <ion-col size="12">
          <app-color-picker
            label="COLOR"
            [control]="form.controls['color']"></app-color-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
