<ion-grid>
  <ion-row>
    <ion-col size="12" class="ion-margin-top">
      <ion-avatar>
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-col>
    <ion-col size="12" class="ion-text-center ion-margin-top">
      <ion-text>
        <p class="no-margin">
          <b>{{ user().email }}</b>
        </p>
      </ion-text>
      <ion-text>
        <p class="no-margin">
          Your account is @if (user().isActive) {
          <span>active</span
            >
            }@if (!user().isActive) {
            <span>disable</span>
            }.
          </p>
        </ion-text>
        <ion-text>
          <p class="no-margin">Last Updated Today, 2:56 PM</p>
        </ion-text>
      </ion-col>
      <ion-col size="12" class="ion-margin-top">
        <ion-list [inset]="true">
          <ion-item>
            <ion-icon slot="start" name="edit"></ion-icon>
            <ion-label>Edit Account</ion-label>
          </ion-item>
          <ion-item (click)="signOff()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Sign off</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  