<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title> {{ 'Account' | translate }} </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"> {{ 'OK' | translate }} </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (view() === 'account') {
    <app-profile></app-profile>
  } @else if (view() === 'signin') {
    <app-sign-in></app-sign-in>
  }
</ion-content>
